<mat-card class="item" *ngIf="igrac" (click)="edit.emit(igrac)">
    <h3>IME I PREZIME: {{ igrac.ime }} {{ igrac.prezime }}</h3>
    <p>GODINA ROĐENJA: {{ igrac.god_rodenja }}</p>
    <p>BROJ NASTUPA: {{ igrac.br_nastupa }}</p>
    <p>BROJ GOLOVA: {{ igrac.br_golova }}</p>
  </mat-card>
