<mat-form-field>
    <mat-label>Datum</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.task.datum_ut" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Vrijeme</mat-label>
    <textarea matInput [(ngModel)]="data.task.vrijeme_ut"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Naziv utakmice</mat-label>
    <textarea matInput [(ngModel)]="data.task.ime"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rezultat</mat-label>
    <textarea matInput [(ngModel)]="data.task.rez"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Napomena</mat-label>
    <textarea matInput [(ngModel)]="data.task.napomena"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ task: data.task }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button 
      *ngIf="data.enableDelete"
      mat-fab
      color="primary"
      aria-label="Delete"
      [mat-dialog-close]="{ task: data.task, delete: true }">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
