<mat-card class="item" *ngIf="task" (click)="edit.emit(task)">
  <h2>{{ task.ime }}  {{ task.rez }}</h2>  
  <h3>{{ task.datum_ut }},  {{ task.vrijeme_ut }} h</h3>
  <p>{{ task.napomena }}</p>
</mat-card>
  
