<mat-toolbar color="primary">
  <mat-icon>event_note</mat-icon>
  <span>Aktivnost klubova</span>
</mat-toolbar>

<div class="content-wrapper">
  <br><br>

  <div class="container-wrapper">
    <div class="container">
      <h1>Raspored utakmica</h1>

      <button mat-button (click)="novaUtakmica()">
        <mat-icon>add</mat-icon> Dodaj utakmicu</button><br><br>

      <button mat-button (click)="sort('datum_ut')">  Sortiraj prema datumu utakmice<i class="fa fa-sort"></i></button><br>
      <button mat-button (click)="sort('vrijeme_ut')">  Sortiraj prema vremenu utakmice<i class="fa fa-sort"></i></button><br><br>
      <mat-card class="list" id="utakmice">
        <p class="empty-label" *ngIf="(utakmice | async)?.length === 0">
          Nema podataka
        </p>
        <app-task
          (edit)="editUtakmica('utakmice', $event)"
          *ngFor="let task of utakmice | async | orderBy: key: reverse" 
          [task]="task"
        ></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h1>Raspored treninga</h1>

      <button (click)="noviTrening()" mat-button>
        <mat-icon>add</mat-icon> Dodaj trening
      </button><br><br>

      <button mat-button (click)="sort2('datum_tr')">  Sortiraj prema datumu treninga&nbsp;<i class="fa fa-sort"></i></button><br><br>
      <mat-card id="treninzi" class="list">
        <p class="empty-label" *ngIf="(treninzi | async)?.length === 0">
          Nema podataka
        </p>
        <app-trening
          (edit)="editTrening('treninzi', $event)"
          *ngFor="let trening of treninzi | async | orderBy: key2: reverse2"
          [trening]="trening"
        ></app-trening>
      </mat-card>
    </div>

    <div class="container">
      <h1>Popis igrača</h1>

      <button (click)="noviIgrac()" mat-button>
        <mat-icon>add</mat-icon> Dodaj igrača
      </button><br><br>

      <button mat-button (click)="sort3('prezime')">  Sortiraj prema prezimenu&nbsp;<i class="fa fa-sort"></i></button><br>
      <button mat-button (click)="sort3('god_rodenja')">  Sortiraj prema godini rođenja&nbsp;<i class="fa fa-sort"></i></button><br><br>
    
      <mat-card id="igraci" class="list">
        <p class="empty-label" *ngIf="(igraci | async)?.length === 0">
          Nema podataka
        </p>
        <app-igrac
          (edit)="editIgrac('igraci', $event)"
          *ngFor="let igrac of igraci | async | orderBy: key3: reverse3"
          [igrac]="igrac"
        ></app-igrac>
      </mat-card>
    </div>
  </div>
</div>
