<mat-form-field>
    <mat-label>Ime</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.igrac.ime" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Prezime</mat-label>
    <textarea matInput [(ngModel)]="data.igrac.prezime"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Godina rodenja</mat-label>
    <textarea matInput [(ngModel)]="data.igrac.god_rodenja"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Broj nastupa</mat-label>
    <textarea matInput [(ngModel)]="data.igrac.br_nastupa"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Godina golova</mat-label>
    <textarea matInput [(ngModel)]="data.igrac.br_golova"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ igrac: data.igrac }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button 
      *ngIf="data.enableDelete"
      mat-fab
      color="primary"
      aria-label="Delete"
      [mat-dialog-close]="{ igrac: data.igrac, delete: true }">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

