<mat-form-field>
    <mat-label>Datum treninga</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.trening.datum_tr" />
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Naziv treninga</mat-label>
    <textarea matInput [(ngModel)]="data.trening.naziv_tr"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Opis</mat-label>
    <textarea matInput [(ngModel)]="data.trening.opis_tr"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ trening: data.trening }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
    <button 
      *ngIf="data.enableDelete"
      mat-fab
      color="primary"
      aria-label="Delete"
      [mat-dialog-close]="{ trening: data.trening, delete: true }">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
